<!-- psikiater/templates/jadwal_konsultasi_list_create.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jadwal Konsultasi Psikiater</title>
</head>
<body>
    <h1>Jadwal Konsultasi Psikiater</h1>

    <!-- Formulir untuk menambahkan jadwal konsultasi -->
    <form method="post" action="{% url 'jadwal-list-create' %}">
        {% csrf_token %}
        <label for="psikiater">Psikiater:</label>
        <input type="text" name="psikiater" required><br>
        <label for="tanggal">Tanggal:</label>
        <input type="datetime-local" name="tanggal" required><br>
        <label for="ketersediaan">Ketersediaan:</label>
        <input type="checkbox" name="ketersediaan" checked><br>
        <input type="submit" value="Tambah Jadwal Konsultasi">
    </form>

    <!-- Daftar jadwal konsultasi -->
    {% if jadwal_konsultasi %}
        <h2>Daftar Jadwal Konsultasi</h2>
        <ul>
            {% for jadwal in jadwal_konsultasi %}
                <li>
                    Psikiater: {{ jadwal.psikiater }} - Tanggal: {{ jadwal.tanggal }} - Ketersediaan: {{ jadwal.ketersediaan }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Tidak ada jadwal konsultasi tersedia.</p>
    {% endif %}
</body>
</html>

