{% extends 'base.html' %}

{% block meta %}
    <title>Pesanan</title>
{% endblock meta %}

{% block content %}
    <form method="post">
        <div class="mb-3">
            <label for="psikiaterSelect">Psikiater:</label>
            <select id="psikiaterSelect" name="psikiater" required>
                <option value="" disabled selected>Psikiater</option>
                {% for psikiater in dataPsikiater %}
                    <option value="{{ psikiater.username }}">{{ psikiater.first_name }} {{ psikiater.last_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            {% csrf_token %}
            {{ form.as_table }}
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Buat Pesanan</button>
        </div>
    </form>
{% endblock %}
