
{% extends 'base.html' %}

{% block meta %}
    <title>Pesanan</title>
{% endblock meta %}

{% block content %}
    <form method="post" id="buatPesananForm">
        <div class="mb-3">
            <label for="psikiaterSelect">Psikiater:</label>
            <select id="psikiaterSelect" name="psikiater" required>
                <option value="" disabled selected>Psikiater</option>
                {% for psikiater in dataPsikiater %}
                    <option value="{{ psikiater.username }}">{{ psikiater.first_name }} {{ psikiater.last_name }}</option>
                {% endfor %}
            </select>
        </div>
        {% csrf_token %}
        <!-- Remove Jadwal konsultasi section -->
        <!-- <div class="mb-3">
            {{ form.as_table }}
        </div> -->
        <div class="mb-3">
            <button type="button" class="btn btn-primary" onclick="redirectLihatJadwal()">Lihat Jadwal Psikiater</button>
        </div>
    </form>

    <!-- Your JavaScript to handle the redirect -->
    <script>
        function redirectLihatJadwal() {
            var selectedPsikiaterId = document.getElementById("psikiaterSelect").value;
            if (selectedPsikiaterId) {
                window.location.href = `/lihat-jadwal-psikiater/${selectedPsikiaterId}`;
            } 
        }
    </script>
{% endblock %}


